.mainBox {
    /* background-color: slateblue; */
    min-height: 100vh;
    padding: 60px 0;
  }
  
  /* SOLO PARA HOME  */
  .fullWidth {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  
  .centered {
    max-width: 1000px;
    margin: 0 auto; 
  }
  